version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~
    steps:
      - checkout
      - run: ./gradlew build -x test
      - run: gradle test

  release:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~
    steps:
      - checkout
      - run: ./gradlew publishPlugin
workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - /dev-.*/
                - /stable-.*/
  release:
    jobs:
      - build:
          filters:
            branches:
              only:
                - /dev-.*/
                - /stable-.*/
      - approve-release:
          type: approval
          requires:
            - build
      - release:
          requires:
            - approve-release